.btn-sub {
  background-color: #9c6644 !important;
  border: none !important;
}

.btn-sub:hover {
  background-color: #b08968 !important;
  color: #7f5539 !important;
}

.row-form {
  padding: 20px;
}

.txt-input input[type="text"] {
  background-color: #ddb892 !important;
  border: solid 1px #b08968 !important;
  color: #7f5539 !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #ddb892 !important;
  border: solid 1px #b08968 !important;
  color: #7f5539 !important;
}

.date-input .ant-picker {
  background: #ddb892 !important;
  border: solid 1px #b08968 !important;
  color: #7f5539 !important;
}

.ant-picker .ant-picker-input input[type="text"] {
  background-color: #ddb892 !important;
}

input::placeholder {
  color: #7f5539 !important;
}

.ant-picker-input input::placeholder {
  color: #7f5539 !important;
}
