body {
  /* background-image: url(../images/pastel.jfif); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* -webkit-backdrop-filter: blur(50px); */
  background: #fec89a;
  background: #ffd7ba !important;
  /* backdrop-filter: blur(7px); */
}

.ant-layout {
  background: transparent !important;
}
