body {
  background-image: url(../images/pink.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(10px);
}

.ant-layout {
  background: transparent !important;
}