body {
  /* background-image: url(../images/pastel.jfif); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* -webkit-backdrop-filter: blur(50px); */
  background: rgb(2, 205, 201);
  background: linear-gradient(
    180deg,
    rgba(2, 205, 201, 1) 11%,
    rgba(255, 255, 255, 0.9192051820728291) 93%
  ) !important;
  /* backdrop-filter: blur(7px); */
}

.ant-layout {
  background: transparent !important;
}
